<div> 
    <h5>Comentarios:</h5>
    <% @comments.each do |comment| %> 
        <ul>
            <p>
            <li><h6></h6><%= comment.content %></li><br> 
        </p>
        </ul> 
    <% end %>
</div>