

<div class="card text-center">
  <div class="card-header">
      <%= article.title %>
  </div>
  <div id="<%= dom_id article %>">
    
   

      <%= article.description %>
   
    <div class="card-footer text-body-secondary">

      <%= article.user.name %>
    
  </div>
  </div>
</div>