<div id="<%= dom_id article %>">
  <p>
    <strong>Usuario:</strong><br>
    <%= article.user.name %>
  </p>

  <p>
    <strong>Titulo:</strong><br>
    <%= article.title %>
  </p>

  <p>
    <strong>Publicación:</strong><br>
    <%= article.description %>
  </p>

  



</div>
