<p style="color: green"><%= notice %></p>


<% if user_signed_in? %>
    <h1>Articles</h1>
    <%= link_to "New article", new_article_path %>
    <br><br>
    <%= render "itiarticle" %>
  <% else %>
    <h1>Articles</h1>
    <%= render "itiarticle" %>
<% end %>
